.blog {
  min-height: 650px;
  &__body {
    padding-top: 25px;
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  &__img{
    &:hover{
      cursor: pointer;
    }
  }
  &__title {
    text-align: center;
    margin: 15px;
    font-size: 20px;
  }
  &__subtitle {
    margin: 15px;
    font-size: 15px;
  }
  &__date {
    text-align: center;
    font-size: 15px;
    margin: 5px;
  }
}
