.routes {
  .map {
    min-height: 700px;
  }
  &__body {
    width: 1400px;
    margin: 0 auto;
  }
  &__title {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .section-filter{
    padding-top: 15px;
    text-align: center;
    &__input{
      width: 250px;
      padding: 15px;
      border-radius: 10px;
      font-size: 15px;
      margin-left: 25px;
    }
    &__btn{
      margin-top: 25px;
      font-size: 18px;
      width: 150px;
      padding: 15px;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
        background-color: rgb(212, 224, 158);
      }
    }
  }
}
